.item {
  .image-wrapper {
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    .image {
      transition: transform 0.3s ease-in-out;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      z-index: 1;

      .content {
        color: #fff;
        padding: 1em;
      }
    }
  }

  &:hover {
    cursor: pointer;
    .image-wrapper {
      .overlay {
        opacity: 1;
      }
      .image {
        transform: scale(1.1);
      }
    }
  }

  .name {
    font-size: 1.2em;
    padding-bottom: 5px;
    text-overflow: ellipsis;
  }

  .price {
    font-size: 0.8em;
    margin-bottom: 10px;
  }
}

.drawer {
  height: 100%;
  overflow-y: auto;
  max-width: 1024px;
  margin: 0 auto;
  border-top-left-radius: 25px;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
    backdrop-filter: blur(40px);
  }

  .content {
    padding: 20px;
    color: #fff;

    .x {
      max-width: 50px;
      padding: 1em 0;
      &:hover {
        cursor: pointer;
      }
    }

    @media (max-width: 768px) {
      .top {
        flex-wrap: wrap-reverse;
      }
      .image {
        margin: 0 auto;
      }
      .description {
        margin-right: 0;
      }
    }

    .top {
      display: flex;
      margin-bottom: 1em;
      align-items: flex-start;
      justify-content: space-between;
    }

    .description {
      font-size: 1em;
      line-height: 1.5em;
      margin-bottom: 1em;
      opacity: 0.8;
      margin-right: 1em;
    }

    .image {
      width: 50%;
      max-width: 300px;
      border-radius: 10px;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;

      .tag {
        border-radius: 4px;
        border: 0.5px solid #fff;

        padding: 0.5rem;
        white-space: nowrap;
        margin: 5px;
      }
    }
  }
}

.search {
  background-color: rgb(228, 228, 228);
  padding: 1em;
  border-radius: 10px;
  width: 100%;
  margin: 1em 0;
  outline: none;
  font-size: 1.2em;
  color: #000;
  border: none;
}

.App {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1em;
}

.loading {
  --height: 10px;
  --loader-color: black;
  --animation-duration: 0.5s;
  display: flex;
  align-items: flex-end;
  gap: calc(var(--height) / 4);
  height: calc(var(--height) * 1.75);
  width: max-content;
  margin: 0 auto;

  &:before,
  &:after {
    content: '';
  }

  > div,
  &:before {
    height: var(--height);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--loader-color);
    animation: bounce var(--animation-duration) ease-in-out infinite alternate;
  }

  &:after {
    height: var(--height);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--loader-color);
    animation: bounce var(--animation-duration) ease-in-out infinite alternate;
    animation-delay: calc(var(--animation-duration) / 2);
  }

  > div {
    animation-delay: calc(var(--animation-duration) / 4);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-75%);
  }
}
